@import '~lib/ui-kit/main';

.Page {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

.Background {
  position: absolute;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.CameraZone {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;

  .CameraPreview {
    position: relative;
  }

  .MaskFrame {
    position: absolute;
    width: 100%;
    // height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    height: 80%;
    top: 8%;

    img {
      width: 100%;
      height: 100%;
      max-height: 600px;
    }
  }
}

.Overlay {
  position: absolute;
  background-color: rgba(#000000, 0.6);
  padding: 1rem;
  text-align: center;
  color: white;
  width: 100%;
  z-index: 2;
}

.TopOverlay {
  @extend .Overlay;
  top: 0;
}

.BottomOverlay {
  @extend .Overlay;
  bottom: 0;
}

.Controls {
  padding: 1rem;
  flex-direction: column;
  color: white;
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(#000000, 0.6);
  bottom: 0;
  width: 100%;

  .ShotButton {
    background-color: #ccc;
    height: 5rem;
    width: 5rem;
    border-radius: 2.5rem;
    border: 0.5rem solid #fff;
    outline: none;

    &:active {
      background-color: blue;
    }
  }
}
