@import '~lib/ui-kit/main';

.PhoneVerifyForm {
  display: block;
  padding: 1rem;
  max-width: 450px;
  height: 100%;
}

.Header {
  margin-bottom: 0.5rem;
}

.PhoneVerifyTitle {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.PhoneVerifyCard {
  background-color: $white;
  margin-top: 1rem;
}

.PhoneVerifyLink {
  color: $primary;
  text-decoration: none;
}

.PhoneVerifyInputBlock {
  margin: 1rem 0;
}

.PhoneVerifyInput {
  height: 3rem;
}

.PhoneVerifyCountdown {
  margin-bottom: 1rem;
}

.FormFields {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  width: 100%;
  padding: 4px 20px;
  margin-bottom: 1rem;
  background-color: $white;
}

.ErrorText {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  color: $red;
}

.FormFooter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  height: 55px;
  padding: 5px 20px 0px;
  z-index: 3;

  @media (max-width: $bp-tablet) {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $white;
  }
}

.FormButton {
  width: 100%;
  height: 100%;
  bottom: 15px;
}
