@import '~lib/ui-kit/main';

.Form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.Pad {
  padding: 1rem;
  width: 100%;
}

.FormField {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 2.5rem;
  margin-bottom: 1rem;
}

.TermsForm {
  background-color: $shade-100;
  padding: 1rem;

  @media (min-width: $screen-max-width) {
    border-radius: 6px;
  }
}

.Triangle {
  fill: $shade-100;
  width: 1.5rem;
}

.Terms {
  background-color: white;
}

.TermsBlock {
  padding: 1rem;
  border-bottom: 1px $shade-400 solid;
}

.Payment {
  &Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &Title {
    color: $text-secondary;
  }

  &Value {
    @include font-base(26px);
    white-space: nowrap;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; // iOS Safari bug
  }
}

.Checkboxes {
  &Item {
    display: flex;
    padding-bottom: 1rem;
  }
}

.Label {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  font-weight: 600;

  .caption {
    text-transform: uppercase;
  }

  .hasError & {
    color: $red;
  }
}

.SumInput,
.TermInput {
  width: 100%;
  height: 2.5rem;
  border: 1px $shade-300 solid;
  border-radius: 4px;
  margin-top: 5px;
  padding: 0.5em;

  &:focus {
    outline: 0;
    border-color: $green-primary;
  }

  .hasError & {
    border: 1px $red solid;
  }
}

.ErrorText {
  color: $red;
  font-size: 0.87rem;
  min-height: 1.2rem;
  margin-bottom: 1rem;
}

.Disclaimer {
  margin-bottom: 1rem;
}

.FormFooter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 2.5rem;
  padding: 0.5rem;
}

.SaveButton {
  width: 100%;
  height: 3rem;
}
