@import '~lib/ui-kit/main';

.Page {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: $screen-max-width;
  height: 100%;
}

.PageTitle {
  padding: 1rem;
}

.MonthlyPayment {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: $green-primary;
  min-height: 4rem;
  padding-top: 0.5em;
}

.PaymentTitle {
  font-size: 1.1rem;
  color: $white;
}

.PaymentValue {
  color: $white;
  padding: 0.2em;
}

.Disclaimer {
  p {
    border-top: 1px $shade-400 solid;
    padding: 1rem 0.5rem;
    color: $text-secondary;
    text-align: center;
  }
}

.Error {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: $white;
  background-color: $red;
  padding: 4px 0;
}
