@import '~ui-kit/main';

.Page {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.Heading {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 470px;
  background: url('~assets/images/black-friday-bg.jpg') 25% 50% no-repeat;
  background-size: cover;

  .HeadingInfo {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 3%;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    @media (max-width: $bp-md) and (orientation: landscape) {
      padding-top: 10px;
    }
    @media (min-width: $bp-sm) {
      align-items: flex-start;
    }
  }

  .BannerText {
    width: 10rem;
    max-width: 50%;

    @media (max-width: $bp-xs) {
      width: 140px;
      height: auto;
    }
  }

  .CaptionBlock {
    display: block;
    width: 12rem;
    max-width: 50%;
    padding-top: 10px;
    @media (max-width: $bp-xs) {
      max-width: 60%;
    }
  }

  .Caption {
    display: inline;
    color: $white;
    font-size: 28px;
    line-height: 35px;
    background-color: rgba($color: $black, $alpha: 0.4);
  }
}

.ActionButton {
  width: 300px;
  height: 50px;
  margin-top: 55px;
  align-items: center;
  align-self: auto;
  font-size: 18px;
  line-height: 1;

  @media (min-width: $bp-sm) {
    align-self: flex-start;
  }
  @media (max-width: $bp-md) and (orientation: landscape) {
    margin-top: auto;
  }
}

.OfferPlace {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0 2rem;

  ~ .ActionButton {
    margin: 1rem auto;
  }
}
