@import '~lib/ui-kit/main';

.Page {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: $screen-max-width;
  height: 100%;
  padding: 0 1rem;
}

.PageTitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Options {
  padding: 20px 0 0;
}

.Button {
  margin: 1rem 0;
  max-width: $bp-tablet;
  width: 100%;
}
