@import '~ui-kit/main';

.Page {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: $screen-max-width;
  height: 100%;
  padding: 0 1rem;
}

.PageTitle {
  text-align: left;
  margin-bottom: 2rem;
}

.Label {
  margin-bottom: 4px;
}

.PageHeader {
  margin: 0 2rem;
}

.PassportDetailsText {
  margin: 1rem 0;
}

.VerifyButton {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
}

.PageFooter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  z-index: 3;

  @media (max-width: $screen-max-width) {
    padding: 0 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $white;
  }
}
