@import '~ui-kit/main';

.HeadPanel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: $white;
}

.Header {
  @extend .HeadPanel;
  justify-content: space-between;
  padding: 0.5rem;
}

.ShieldSign {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  user-select: none;
}

.ShieldText {
  font-size: 10px;
  color: $text-subtitle;
  padding-left: 3px;
  user-select: none;
}

.Logo {
  width: 100px;
  height: 22px;
}
