@import '~lib/ui-kit/main';

.Page {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

.PageTitle {
  text-align: left;
  margin-bottom: 2rem;
}

.Overlay {
  position: absolute;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.CameraZone {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;

  .CameraPreview {
    position: relative;
  }

  .PassportFrame {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.Controls {
  padding: 1rem;
  flex-direction: column;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#000000, 0.6);
  bottom: 0;
  width: 100%;

  .Hint {
    text-align: center;
    margin: 1rem;
  }

  .ShotButton {
    background-color: #ccc;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    border: 7px solid #fff;
    outline: none;

    &:active {
      background-color: blue;
    }
  }
}
