@import '~ui-kit/main';

.Page {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 0;
  background-color: $gray-1;

  @media (max-width: $bp-xs) {
    height: auto;
  }
}

.PageTitle {
  padding-bottom: 1rem;
}

.Stepper {
  padding: 0.3rem 0;
  margin-bottom: 0.5rem;
}
