@import '~ui-kit/main';

.Root {
  padding: 0.3rem 1rem;
}

.Modal {
  width: 100%;
  padding: 1rem 2rem;
  max-width: 600px;
}

.PageTitle {
  margin: 1rem 0;
}

.Description {
  margin-bottom: 2rem;
}

.ButtonBlock {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.CancelLink {
  display: block;
  color: gray;
  font-size: 14px;
  width: 100%;
}

.ResetButton {
  font-size: 14px;
  // padding: 10px;
}
