@import '~ui-kit/main';

$screen-max-width: 450px;

.ResultScoringPage {
  background: $gray-2;
  display: block;
  width: 100%;
  max-width: $screen-max-width;
  height: 100%;
  margin: 0 auto;
}

.Centering {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.FormTitle {
  padding: 1rem;
  background: $white;
}

.PaymentBlock {
  background: $gray-1;
  padding: 1rem;
  position: relative;

  .DetailsBlock {
    font-size: 14px;
    border-top: 1.5px $gray-3 solid;
    background: $shade-100;
    padding: 1.5rem;
  }
}

.Sum {
  border-bottom: 1px solid $shade-400;
  padding: 0.5rem 2rem;
}

.Triangle {
  fill: $gray-1;
  height: 30px;
  width: 100%;
}

.FormFields {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  width: 100%;
  padding: 0 20px;
}

.Checkbox {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.FormField {
  padding-bottom: 1rem;
}

.FormButton {
  width: 100%;
}

.TextWithStar {
  font-size: 12px;
  text-align: left;
  line-height: 14px;
  padding: 1rem 0;
}
