@import '~ui-kit/main';

.PaymentAmount {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 2px 8px;
}

.Payment {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.OldPayment {
  font-size: 20px;
  color: $text-secondary;
  text-decoration: line-through;
  line-height: 28px;
  padding-right: 8px;
}

.NewPayment {
  font-size: 24px;
  font-weight: 700;
  color: $primary;
  line-height: 28px;
}

.Rate {
  font-size: 14px;

  .OldRate {
    color: $text-secondary;
    text-decoration: line-through;
    padding-right: 4px;
  }

  .NewRate {
    color: $primary;
    font-weight: 700;
  }
}
