@import '~ui-kit/main';

.LoginForm {
  max-width: 450px;
  // box-shadow: 0 0 0 1px $border-color;
}

.Heading {
  padding: 0 0 1rem 0;
}

.Title {
  line-height: 3rem;
}

.Subtitle {
  color: $text-subtitle;
}
