@import '~lib/ui-kit/main';

$screen-max-width: 450px;

.Page {
  display: block;
  width: 100%;
  max-width: $screen-max-width;
  margin: 0 auto;
  // padding: 50px 0 55px;
}

.Title {
  margin-bottom: 1rem;
}

.Block {
  padding: 2rem;
}

.MainImage {
  // max-height: 350px;
  background-size: cover;
  background-position: bottom;
  background-color: burlywood;
  color: black;
  position: relative;

  h2 {
    color: black !important;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .Advice {
    margin-top: 1rem;
  }

  .AdviceSum {
    font-size: 45px;
    font-weight: 600;
  }

  .Button {
    margin-top: 1rem;
    width: 100%;
  }
}

.List {
  margin-bottom: 1rem;
}

.Dot {
  border-radius: 3px;
  margin-top: 0.5rem;
  background-color: $text-dark-gray;
  width: 6px;
  height: 6px;
}
