@import '~lib/ui-kit/main';

.HeadOption {
  display: flex;
  padding: 0.5rem 0;
}

.SingleOption {
  display: flex;
  // margin: 1rem 1rem 0;
  // padding: 1rem;

  // &.Selected {
  //     display: none;
  // }

  &:hover {
    cursor: pointer;
    background-color: $gray-1;
  }

  .CustomOption {
    display: flex;
    margin: 0.5rem 0.5rem 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
    width: 100%;
  }

  &:last-child {
    .CustomOption {
      border-bottom: none;
    }
  }
}

.Description {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;

  span {
    font-size: 14px;
  }
}

.NoOptionsMessage {
  text-align: center;
  padding: 1rem;
  color: $text-dark-gray;
  font-size: 14px;
}
