@import '~ui-kit/main';

.CardTitle {
  padding-bottom: 2rem;
}

.FormCard {
  background-color: $white;
  margin-top: 1rem;
  padding: 1rem;
  margin: 0 0.5rem;
}

.FormCardBody {
  padding: 1rem;
  padding-bottom: 0;
}

.InfoBlock {
  margin-top: 1rem;
}
