@import '~lib/ui-kit/main';

.PassportForm {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-height: calc(100% - 70px);
}

.Label {
  margin-bottom: 1rem;
}

.FormFooter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 3rem;
  background-color: $white;

  .FormButton {
    width: 100%;
    padding: 0;
  }

  @media (max-width: $screen-max-width) {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem;
  }
}
